@import '../../mixins/mixins.scss';

.contacts {

    &__container {
        background: no-repeat top right 73px/45% url("../img/contacts/bg-1@2x.png");
    }
    
    &__layout {
        display: flex;
        margin-bottom: 145px;
        padding-bottom: 47px;
    }

    &__wrap {
        padding-top: 61px;
        max-width: 489px;
    }

    &__heading {
        margin-bottom: 22px;
        font-size: 2.8125rem;
        line-height: 1.333;
    }

    &__paragraph {
        margin-bottom: 27px;
        padding-left: 4px;
        line-height: 1.389;
    }
}

.form-contacts {

    &__label {
        display: block;
        margin-bottom: 20px;
    }

    &__label:last-of-type {
        margin-bottom: 26px;
    }
    
    &__input {
        border: none;
        border-radius: 3px;
        width: 100%;
        padding: 0.834em 0.8em;
        font: 400 1.125rem/1.389 "Inter", sans-serif;
        background: #F2F0F0;
        transition: box-shadow .2s ease, background-color .2s ease;

        @include focus;

        &::placeholder {
            color: rgba(20 13 45 / 0.2);
        }

        &--error {
            background: rgba(255 0 0 / .3);
        }
    }

    &__error {
        display: none;
        padding: .6em;
        color: red;
        font: 400 1rem/1 "Inter", sans-serif;
        
        &--active {
            display: block;
        }
    }

}

@media screen and ( max-width: 1199px ) {
    .contacts {

        &__container {
            background: none;
        }
    }    
}

@media screen and ( max-width: 1023px ) {
    .contacts {

        &__container {
            background: none;
        }

        &__layout {
            margin-bottom: 50px;
            padding-bottom: 0;
        }

        &__wrap {
            max-width: unset;
            padding: 0;
        }

        &__heading {
            font-size: 2em;
        }

    }

    .form-contacts {

        &__button {
            padding: .5em;
        }
    }
}