section(class="testimonials")
    div(class="container testimonials__container")
        div(class="testimonials__layout")
            h2(class="heading heading--2 testimonials__heading") “This app is amazing Now i’m able to manage all my freelancing and agency work under one place. it make my life easy.”
            div(class="testimonials__info info-testimonials")
                div(class="info-testimonials__img-wrap")
                    picture()
                        source(
                            type="image/webp"
                            srcset="assets/img/testimonials/i-1@2x.webp 2x, assets/img/testimonials/i-1@1x.webp 1x"
                        )
                        source(
                            type="image/jpg"
                            srcset="assets/img/testimonials/i-1@2x.jpg 2x, assets/img/testimonials/i-1@1x.jpg 1x"
                        )
                        img(class="img info-testimonials__img" src="assets/img/testimonials/i-1@1x.jpg", alt="User image")
                div(class="info-testimonials__desc-wrap")
                    span(class="info-testimonials__name") ASHUTOSH MEHTA
                    span(class="info-testimonials__job") Charted Accountant