section(class="hero")
    div(class="container hero__container")
        div(class="hero__layout")
            div(class="hero__wrapper")
                h1(class="heading heading--1 hero__heading") Manage and track all your Work Inside one app
                p(class="paragraph hero__paragraph") Pellentesque in ipsum id orci porta dapibus. Vestibulum ante ipsum primis in faucibus orci luctus et. Pellentesque in ipsum id orci porta dapibus
                button(class="button button--common hero__button") Learn More