section(class="hero")
    div(class="container hero__container")
        div(class="hero__layout")
            h1(class="heading heading--1 hero__heading") Manage And Track All Your Work Inside One App
            p(class="paragraph hero__paragraph") Pellentesque in ipsum id orci porta dapibus. Vestibulum ante ipsum primis in faucibus orci luctus et. Pellentesque in ipsum id orci porta dapibus
            button(class="button button--common hero__button") Learn More
            img(class="hero__img" src="assets/img/hero/b-1@2x.png" alt="Hero image")