.hero {
    background: var( --color-main );

    &__layout {
        position: relative;
        margin-bottom: 140px;
        padding-top: 129px;
        padding-bottom: 250px;
    }

    &__heading, 
    &__paragraph, 
    &__button {
        position: relative;
        z-index: 1;
    }

    &__heading, 
    &__paragraph {
        color: #fff;
    }

    &__heading {
        max-width: 744px;
        margin-bottom: 32px;
    }

    &__paragraph {
        max-width: 490px;
        margin-bottom: 37px;
        font-weight: 500;
        line-height: 1.389;
    }

    &__button {
        padding: 1.03em 1.86em;
    }

    &__img {
        position: absolute;
        bottom: -95px;
        right: .4%;
        width: 590px;
    }        

}

@media screen and ( max-width: 1199px ) {
    .hero {

        &__img {
            display: none;
        }
    }    
}

@media screen and ( max-width: 1023px ) {
    .hero {

        &__layout {
            margin-bottom: 50px;
            padding-top: 50px;
            padding-bottom: 50px;
        }

        &__heading {
            font-size: 2em;
        }

        &__button {
            padding: .5em;
        }

        &__img {
            display: none;
        }
    }
}