footer(class="footer")
    div(class="container footer__container")
        div(class="footer__layout")
            address(class="footer__address")
                a(class="link footer__email" href="mailto:support@worku.com") support@worku.com
            span(class="footer__copy") © Copyright Worku. All Rights Reserved