.footer {
    background: #000;

    &__layout {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 38px;
        padding-bottom: 38px;
    }

    &__email {
        margin-right: 50px;
        color: #fff;
        line-height: 1.389;
    }

    &__copy {
        padding-right: 6px;
        color: #fff;
        line-height: 1.389;
    }
}

@media screen and ( max-width: 1023px ) {
    .footer {

        &__layout {
            flex-wrap: wrap;
        }

        &__address {
            padding: 15px 0;
        }
    }
}