@import '../fonts/fonts.scss';

:root {
    --color-main: #140D2D;
    --color-alter: #E0FF00;
    --color-hover: coral;
    --color-card: #C7C3C3;
    box-sizing: border-box;
}

*, 
::before, 
::after {
    box-sizing: inherit;
}

/* resets */

.reset-button {
    border: none;
    border-radius: 0;
    padding: 0;
    background: none;
}

.reset-list {
    margin: 0;
    padding: 0;
    list-style: none
}

.reset-link {
    text-decoration: none
}

/*  */

.img, 
.video {
    max-width: 100%;
}

/*  */

.visually-hidden {
    position: absolute;
    border: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* container */

.container {
    max-width: 1250px;
    margin: auto;
    padding: 0 25px;
}

/* ui */
@import '../ui/heading/heading.scss';
@import '../ui/paragraph/paragraph.scss';
@import '../ui/button/button.scss';
@import '../ui/link/link.scss';
@import '../ui/video-player/video-player.scss';

/* sections */
@import '../sections/header/header.scss';
@import '../sections/hero/hero.scss';
@import '../sections/features/features.scss';
@import '../sections/manage/manage.scss';
@import '../sections/testimonials/testimonials.scss';