.header {
    background: var( --color-main );

    &__layout {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 18px;
        padding-bottom: 30px;
    }

    &__logo {
        align-self: flex-start;
        padding-top: 8px;
        color: #fff;
        font: 400 1.25rem/1 'Krona one', sans-serif;
    }
}

.nav-header {

    &__hamburger {
        display: none;
    }

    &__list-wrap {
        display: flex;
        align-items: center;
    }

    &__list {
        display: flex;
        align-items: center;
        margin-right: 62px;
    }

    &__item:not(:last-child) {
        margin-right: 51px;
    }
    
    &__link {
        color: #fff;
        font: 500 1.25rem/1 "Inter", sans-serif;
    }

}