section(class="manage")
    div(class="container manage__container")
        div(class="manage__layout")
            div(class="manage__wrap")
                h2(class="heading heading--2 manage__heading") Grow faster than your compititors
                p(class="paragraph manage__paragraph") Pellentesque in ipsum id orci porta dapibus. Donec sollicitudin molestie malesuada. Cras ultricies ligula sed magna dictum porta. Lorem ipsum dolor sit amet. 
                ul(class="reset-list manage__list list-manage")
                    li(class="reset-list list-manage__item")
                        h3(class="heading heading--3 list-manage__heading") Manage all your work
                        p(class="paragraph list-manage__paragraph") Pellentesque in ipsum id orci porta dapibus. Donec sollicitudin molestie malesuada. Cras ultricies ligula sed magna dictum porta. Lorem ipsum dolor sit amet. Cras ultricies ligula sed magna dictum porta. Lorem ipsum dolor sit amet.
                    li(class="reset-list list-manage__item")
                        h3(class="heading heading--3 list-manage__heading") Scale it to the moon
                        p(class="paragraph list-manage__paragraph") Pellentesque in ipsum id orci porta dapibus. Donec sollicitudin molestie malesuada. Cras ultricies ligula sed magna dictum porta. Lorem ipsum dolor sit amet. Cras ultricies ligula sed magna dictum porta. Lorem ipsum dolor sit amet.