extends ../templates/layout.pug

block variables
    -
        let title = 'Worku | Home page'
        let navList = [
            {
                href: '#', 
                inner: 'Features',
            },
            {
                href: '#', 
                inner: 'Contact',
            },
            {
                href: '#', 
                inner: 'Help',
            },
        ];
        let featuresList = [
            {
                icon: 'i-1', 
                heading: 'Create Timelines', 
                paragraph: 'Pellentesque in ipsum id orci porta dapibus. Donec sollicitudin molestie malesuada. Cras ultricies ligula sed magna dictum porta. Lorem ipsum dolor sit amet.', 
            }, 
            {
                icon: 'i-2', 
                heading: 'Track Progress', 
                paragraph: 'Pellentesque in ipsum id orci porta dapibus. Donec sollicitudin molestie malesuada. Cras ultricies ligula sed magna dictum porta. Lorem ipsum dolor sit amet.', 
            }, 
            {
                icon: 'i-3', 
                heading: 'Deliver Efficiency', 
                paragraph: 'Pellentesque in ipsum id orci porta dapibus. Donec sollicitudin molestie malesuada. Cras ultricies ligula sed magna dictum porta. Lorem ipsum dolor sit amet.', 
            }, 
        ];
        let accList = [
            {
                title: 'How much price is for one year subscrption?', 
                content: 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit natus, beatae quam voluptatibus nemo saepe?', 
            }, 
            {
                title: 'Can I add more than one team members?', 
                content: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque, dolor.', 
            }, 
            {
                title: 'Can I manage my payments?', 
                content: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis odit deserunt illo dolor nam error, minus aspernatur quam voluptas quod.', 
            }, 
            {
                title: 'Can I integrate payment gateways to take payments?', 
                content: 'Lorem ipsum dolor sit amet consectetur adipisicing.', 
            }, 
            {
                title: 'Is my data safe in this app?', 
                content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, magni. Nihil eveniet, hic vel placeat consequatur quibusdam.', 
            }, 
        ]

block header
    include ../../sections/header/header.pug
block main
    include ../../sections/hero/hero.pug
    include ../../sections/features/features.pug
    include ../../sections/manage/manage.pug
    include ../../sections/testimonials/testimonials.pug
    include ../../sections/contacts/contacts.pug
    include ../../sections/faq/faq.pug
block footer
    include ../../sections/footer/footer.pug