extends ../templates/layout.pug

block variables
    -
        let title = 'Worku | Home page'
        let navList = [
            {
                href: '#', 
                inner: 'Features',
            },
            {
                href: '#', 
                inner: 'Contact',
            },
            {
                href: '#', 
                inner: 'Help',
            },
        ];
        let featuresList = [
            {
                icon: 'i-1', 
                heading: 'Create Timelines', 
                paragraph: 'Pellentesque in ipsum id orci porta dapibus. Donec sollicitudin molestie malesuada. Cras ultricies ligula sed magna dictum porta. Lorem ipsum dolor sit amet.', 
            }, 
            {
                icon: 'i-2', 
                heading: 'Track Progress', 
                paragraph: 'Pellentesque in ipsum id orci porta dapibus. Donec sollicitudin molestie malesuada. Cras ultricies ligula sed magna dictum porta. Lorem ipsum dolor sit amet.', 
            }, 
            {
                icon: 'i-3', 
                heading: 'Deliver Efficiency', 
                paragraph: 'Pellentesque in ipsum id orci porta dapibus. Donec sollicitudin molestie malesuada. Cras ultricies ligula sed magna dictum porta. Lorem ipsum dolor sit amet.', 
            }, 
        ];

block header
    include ../../sections/header/header.pug
block main
    include ../../sections/hero/hero.pug
    include ../../sections/features/features.pug
    include ../../sections/manage/manage.pug
//- block footer