@font-face {
    font-family: "Inter";
    src: '../fonts/Inter-Regular.woff2' format( 'woff2' ), '../fonts/Inter-Regular.woff' format( 'woff' );
    display: swap;
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Inter";
    src: '../fonts/Inter-Medium.woff2' format( 'woff2' ), '../fonts/Inter-Medium.woff' format( 'woff' );
    display: swap;
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Inter";
    src: '../fonts/Inter-SemiBold.woff2' format( 'woff2' ), '../fonts/Inter-SemiBold.woff' format( 'woff' );
    display: swap;
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Krona one";
    src: '../fonts/KronaOne-Regular.woff2' format( 'woff2' ), '../fonts/KronaOne-Regular.woff' format( 'woff' );
    display: swap;
    font-style: normal;
    font-weight: 400;
}