@import '../../mixins/mixins.scss';

.faq {

    &__layout {
        margin-bottom: 135px;
    }
    
    &__wrap {
        max-width: 793px;
        margin: auto;
    }

    &__heading {
        margin-bottom: 51px;
        font: 600 3.125rem/1.5 "Plus Jakarta Sans", sans-serif;
        letter-spacing: .02em;
        text-align: center;
    }

}

.accordion-faq {
    box-sizing: content-box;

    &__item:not(:last-child) {
        margin-bottom: 25px;
    }

    &__control {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .938em 1.18em;
        width: 100%;
        background: rgba(242, 240, 240, 1);
        cursor: pointer;
        transition: box-shadow .2s ease;

        @include focus;
    }

    &__icon {
        flex-shrink: 0;
        margin-top: 2px;
        margin-right: 1px;
        transition: transform 0.2s ease;

        .open & {
            transform: rotate(180deg);
        }
    }

    &__content {
        max-height: 0;
        opacity: 0;
        visibility: hidden;
        padding: 0 2em;
        transition: all .2s ease;

        .open & {
            opacity: 1;
            visibility: visible;
            padding: 2em;
        }
    }

    &__title {
        line-height: 1.389;
        text-align: left;
    }

}

@media screen and ( max-width: 1023px ) {
    .faq {

        &__layout {
            margin-bottom: 50px;
        }

        &__heading {
            margin-bottom: 25px;
            font-size: 2em;
        }
    }

    .accordion-faq {

        &__title {
            margin-right: 15px;
        }
    }
}